.signup,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.container1 {
  max-width: 500px;
  width: 100%;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(12, 12, 12, 0.878) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: black(16, 137, 211);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  color: #050505;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

/* .form .input::placeholder {
  color: rgb(170, 170, 170);
} */

.form .input:focus {
  outline: none;
  border-inline: 2px solid #050505;
}

.form .forgot-password,
.forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a,
.forgot-password a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: #3368c6;
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
}
.agreement a:hover {
  color: #050505;
}

.gender-selection,
.gender-heading {
  width: 100%;
  text-align: left;
}

.gender-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.gender-selection label {
  font-size: 16px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.gender-selection input[type="radio"] {
  margin-right: 10px;
}

/* File Upload Styles */
input[type="file"] {
  border: 2px solid #d7d7d7;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  flex-grow: 1;
  padding-right: 50px; /* Adjust as needed to make room for the button */
}
.toggle-password-visibility {
  position: absolute;
  right: 30px; /* Distance from the right edge of the input */
  top: 20px; /* Adjust top positioning to center the button as needed */
  height: calc(
    100% - 40px
  ); /* Adjust height to match input height minus padding */
  background: none;
  border: none;
  color: #000; /* Button text color */
  cursor: pointer;
}

.radio-label {
  cursor: pointer;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  -moz-appearance: none;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Make it round */
  border: 1px solid #333; /* Set border color */
  outline: none; /* Remove outline */
}

/* Set custom styles for checked radio button */
input[type="radio"]:checked {
  background-color: black; /* Set background color to black */
}

/* Change color to black when the radio button is checked */
input[type="radio"]:checked + .radio-label {
  color: #000;
  font-size: 25px;
}
.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .container1 {
    max-width: 550px;
    margin: 10px;
    padding: 25px 10px;
  }
  .toggle-password-visibility {
    right: 10px;
  }
}
